.container {
    margin: 20px;
    height: 200px;
    display: flex;
    border: 1px solid black;
    padding: 20px;
    width: 400px;
}

.red-box{
    background-color: rgb(102, 21, 112);
    /* bottom: 200px; No funciona por la posición estática */
}

.blue-box{
    background-color: rgb(170, 38, 141);
    position: relative;
    top: 20%;
    right:80px;
}

.green-box{
    background-color: rgb(77, 187, 199);
    position: relative;
    top: 40%;
    right: 150px;
}

.red-box, .blue-box, .green-box {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

